.center {
    display: inline-block;
    margin: auto;
}

.center-link {
    text-decoration: none;
}

.project {
    text-decoration: none;
}

.project > .feature-inner {
    transition: 0.2s;
}

.project:hover > .feature-inner {
    padding-top: 32px;
}